.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  margin-top: 20px;

  button {
    position: relative;
    border: 1px solid #c2bdbd;
    height: 34px;
    min-width: 28px;
    color: #615e5e;
    cursor: pointer;
    &:hover {
      background-color: rgb(253, 249, 248);
    }
    &:active {
      background-color: rgba(241, 207, 166, 0.65);
    }
    &:disabled {
      cursor: auto;
      &:hover {
        background-color: #f0f0f0;
      }
      &:active {
        background-color: #f0f0f0;
      }
      &::after {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(94, 87, 87, 0.51);
      }
    }
  }
  .active {
    background-color: rgba(248, 152, 33, 0.77);
    &:hover {
      background-color: rgba(245, 151, 35, 0.57);
    }
  }

}