.currencyInfoBlock {
  width: 40%;
  table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;
    thead {
      font-size: 12px;
      font-weight: bold;
      height: 30px;
      color: #726c68;
      background-color: #e6eef8;
      tr {
        th {
          border: 1px solid #dedede;
          padding: 0 4px;
          text-align: left;
        }
      }
    }
    tbody {
      font-size: 14px;
      font-weight: bold;
      background-color: rgba(236, 236, 236, 0.12);
      border: 1px solid #dedede;
      height: 30px;
      color: #494947;
      tr {
        td {
          width: 25%;
          border: 1px solid #dedede;
          padding: 0 4px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .currencyInfoBlock {
    table {
      tbody {
        font-size: 10px;
      }
    }
  }
}