.currencyInfoBlock {
  font-size: 12px;
  table {
    margin-bottom: 10px;
    border-collapse: collapse;
    text-align: center;
    thead {
      height: 30px;
      color: #5c5550;
      background-color: #e6eef8;
      tr {
        th {
          border: 1px solid #dedede;
          padding: 0 4px;
          font-weight: 400;
          text-align: left;
        }
      }
    }
    tbody {
      background-color: rgba(236, 236, 236, 0.12);
      border: 1px solid #dedede;
      height: 30px;
      tr {
        td {
          border: 1px solid #dedede;
          padding: 0 4px;
        }
      }
    }
  }
}