.main {
  text-align: start;
  padding: 40px 0;
  min-height: calc(100vh - 80px);
  .table {
    background-color: white;
    width: 100%;
    border-radius: 12px;
    border-collapse: collapse;
    text-align: center;
    .thead {
      font-size: 18px;
      height: 40px;
      text-align: center;
      text-transform: uppercase;
      color: rgba(144, 142, 142, 0.81);
      tr {
        th {
          font-weight: 400;
          border-bottom: 3px solid rgba(203, 130, 57, 0.19);
        }
      }
    }
    .tbody {
      font-size: 18px;
      .row {
        height: 60px;
        color: #575757;
        cursor: pointer;
        &:hover {
          background-color: rgba(203, 158, 107, 0.06);
        }
        &:active {
          background-color: rgba(203, 158, 107, 0.02);
        }
        .column {
          border-bottom: 2px solid rgba(250, 170, 89, 0.26);
        }
        .addButton {
          align-items: center;
          padding: 4px;
          border: none;
          cursor: pointer;
          width: 28px;
          border-radius: 8px;
          font-weight: bold;
          &:hover {
            background-color: rgba(128, 128, 128, 0.3);
          }
          &:active {
            background-color: #efefef;
          }
        }
      }
      .row:last-child {
        border-bottom: hidden;
      }
    }

  }
  .pagination {
    margin-top: 24px;
  }
}





