.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  margin: auto;
  background-color: rgba(109, 109, 109, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
  .paper {
    color: #5c5550;
    padding: 8px;
    min-height: 200px;
    min-width: 400px;
    background-color: #f1e7e7;
    position: relative;

    form {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
      justify-content: center;
      margin-top: 38px;
      input {

        outline: none;
        height: 40px;
        border: 1px solid grey;
        border-radius: 8px;
      }
      .submit {
        border: none;
        height: 40px;
        border-radius: 8px;
        width: 80px;
        cursor: pointer;
        &:active {
          background-color: #efefef;
        }
        &:hover {
          background-color: #dedede;
        }
      }
    }

  }
}