.table {
  background-color: white;
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
  text-align: center;
  .thead {
    text-align: center;
    text-transform: uppercase;
    color: rgba(144, 142, 142, 0.81);
    tr {

      th {
        overflow-wrap: break-word;
        padding: 10px 0 10px 4px;
        font-weight: 400;
        border-bottom: 4px solid rgb(244 247 251);
        &:last-child {
          padding-right: 4px;
        }
        &:nth-child(-n+2) {
          text-align: left;
        }
      }
    }
  }
  .tbody {
    .row:last-child {
      border-bottom: hidden;
    }
  }
  .tbody__loading {
    height: 360px;
    .tbody__loading__text {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}