.table {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  border-collapse: collapse;
  text-align: center;

  .thead {
    font-size: 18px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(144, 142, 142, 0.81);

    tr {
      th {
        font-weight: 400;
        border-bottom: 3px solid rgba(203, 130, 57, 0.19);
        &:first-child {
          padding-left: 3%;
        }
        &:nth-child(-n+2) {
          text-align: left;
        }
      }
    }
  }

  .tbody {
    font-size: 18px;

    .row:last-child {
      border-bottom: hidden;
    }
  }

  .tbody__loading {
    height: 360px;

    .tbody__loading__text {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }
}

//
//table {
//  width: 100%;
//  margin-bottom: 20px;
//  text-align: center;
//  border-collapse: collapse;
//  thead {
//    font-size: 16px;
//    text-transform: uppercase;
//    color: #dedede;
//    tr th {
//      font-weight: normal;
//    }
//  }
//  tbody {
//    tr {
//      height: 40px;
//      background-color: #343333;
//      border-radius: 8px;
//      border-bottom: 1px solid darkgrey;
//      td {
//        .delete {
//          cursor: pointer;
//          color: #9e1b1b;
//          border: 1px solid #aa2020;
//          background-color: grey;
//          border-radius: 8px;
//          &:hover {
//            background-color: #5a5555;
//          }
//          &:active {
//            background-color: grey;
//          }
//        }
//      }
//    }
//  }
//}
